html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  /* border: 3px solid red; */
  background-color: rgb(99, 89, 36);
  border: 60px solid rgba(0, 0, 0, 0.89);

}

body {
  margin-bottom: 60px;
  background-color: rgb(99, 89, 36);
}

.navItem{
  color: antiquewhite;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Courier', monospace;
  margin: 0 5% 0 0;
}

.containerMy{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(99, 89, 36);
  margin-top: 1%;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.bttn{
  /* border-radius: 5px; */
  margin: 40px 0 15px 0;
  width: 20%;
  /* height: 3vh; */
  font-size: 25px;
  padding: 10px;
  font-family: 'Courier', Courier, monospace;
  font-weight: 550;
  border: none;
  background-color: rgba(0, 100, 0, 0.5);
  color: beige;
}

.bttn:hover{
  background-color: rgba(0, 100, 0, 1);
}

.input{
  margin: 15px 0 15px 0;
  border-radius: 0;
  color: antiquewhite;
  padding: 10px;
  width: 100%;
  font-size: 25px;
  font-family: 'Courier', monospace;
  background-color: rgba(0, 0, 0, 0.493);
  border: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.inputContainer{
  width: 100%;
  /* border: 2px solid red; */
}

.titleContent{
  font-size: 25px;
  font-family: 'Courier', monospace;
  margin: 0;
}

.title{
  font-size: 50px;
  color: rgb(34, 26, 11);
  font-weight: 1000;

  font-family: 'Courier', monospace;
}

.containerMy h1{
  /* border: 10px solid blue; */
  color:rgba(0, 0, 0, 0.7);
  margin: 50px 0 0px 0;
  text-align: center;
}

.label{
  margin: 30px 0 0px 0;
  font-family: 'Courier', monospace;
  font-size: 25px;
  color: beige;
  font-weight: 700;
}

.spanik{
  background-color: rgba(31, 46, 4, 0.623);
  padding: 15px;
  color: white;
  opacity: 90%;
  margin: 50px 0 0 0;
  font-size: 25px;
  font-weight: 500;
  /* border: 3px solid red; */
  
  font-family: 'Courier', monospace;
}

.textError{
  font-family: 'Courier', monospace;
  font-size: 19px;
  color: rgb(95, 6, 6);
}

.myRow{
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: center;
  align-items:center;
  font-size: 30px;
  font-family: 'Courier';
  margin: 1%;
}

.myRow p{
  margin: 0;
  color: antiquewhite;
}

.savedTitle{
  font-family: courier;
  font-size: 40px;
  font-weight: 600;
}