@page
@model IndexModel;
@{
ViewData["Title"] = "Person";
}
<div class="containerMy">
    <h1 class="title">PODAJ SWOJE DANE ZA DARMO:</h1>

    <form class="form" method="post">

        <label class="label" asp-for="person.Year">
            <p class="titleContent">Rok urodzenia:</p>
        </label>
        
        <div class="inputContainer">
        <input class="input" asp-for="person.Year" />
        </div>

        <span asp-validation-for="person.Year" class="textError"></span>

        <label class="label" asp-for="person.Name">
            <p class="titleContent">Imię:</p>
        </label>
        
        <div class="inputContainer">
        <input class="input" asp-for="person.Name" />
        </div>

        <span asp-validation-for="person.Name" class="textError"></span>

        <label class="label" asp-for="person.LastName">
            <p class="titleContent">Nazwisko: (pole opcjonalne)</p>
        </label>
        
        <div class="inputContainer">
        <input class="input" asp-for="person.LastName" />
        </div>

        <span asp-validation-for="person.LastName" class="textError"></span>

        <button class="bttn" type="submit">Zatwierdź</button>
    </form>

    @if(Model.person.process()!=""){
        <span class="spanik">
            @Model.person.process()
        </span>
    }
</div>