@page
@model proj.Pages.SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}

<p class="savedTitle">Dane zapisane w sesji:</p>

@if(Model.people.people.FirstOrDefault() != null){

    <div>

        @foreach (var item in Model.people.people)
        {
            <div class="myRow">
                <p>
                @item.Name , @item.Year -&nbsp; 
                </p>@if(item.Year % 4 == 0){
                    <p>rok przestępny</p>
                }else{
                    <p>rok nieprzestępny</p>
                }
            </div>
        }

    </div>
}